<div id="main">
  <div id="nav">
      <a href="/html/">HTML</a> |
      <button onclick="window.location.ref='/css/'">CSS</button> |
      <a href="/js/">JavaScript</a> |
      <a href="/python/">Python</a>
  </div>
  <div id="aside">
      <h1>Titlu aside</h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum obcaecati provident deleniti quaerat voluptatibus libero sapiente, voluptas commodi aliquam molestias mollitia! Sapiente nesciunt culpa optio alias mollitia quasi natus ipsa.</p>
  </div>
  <div id="content-section">
      <h1>Titlu Sectiune principala</h1>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Culpa sed aut quia facilis quo molestias dignissimos in quae. Inventore aut autem velit eos cumque explicabo, rem ipsum error maiores sed? Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid, quisquam! Quas, quidem a? Consequatur asperiores similique doloremque, nostrum saepe eius ipsum soluta expedita dolore veritatis neque doloribus modi fugiat reprehenderit!</p>
  </div>
  <div id="chart-section">
    <div style="width:500px; height:500px;">
      <app-chart></app-chart>
    </div>
  </div>
</div>
